<section id="Reasons" class="Reasons">
    <h3 class="Reasons--h3">3 Reasons To Purchase</h3>
    <picture class="Reasons--picture">

        <h5 class="Reasons--picture__h5">Ut sed metus</h5>
        <p class="Reasons--picture__p">Lorem ipsum dolor sit amet, consecteur.</p>


        <h5 class="Reasons--picture__h5">Curabitur ac erat</h5>
        <p class="Reasons--picture__p">Mauris mattis urna quis lorem molestie.</p>


        <h5 class="Reasons--picture__h5">Morbi dictum </h5>
        <p class="Reasons--picture__p">Aliquam in dolor et dolor tincidunt.</p>

    </picture>
    <div class="Reasons--button">
        <button class="Reasons--button__more btn">More reasons</button>
    </div>
</section>