<footer class="footer">
    <div class="footer-circle">
        <a href="#hero"><img src="./assets/images/ico-arrow.svg" class="footer-circle__img"></a>
    </div>
    <articles>
        <nav>
            <ul class="nav">
                <li class="nav-list"><a href="https://adalab.es/" target="_blank">articles</a></li>
                <li class="nav-list"><a href="https://adalab.es/" target="_blank">books</a></li>
                <li class="nav-list"><a href="https://adalab.es/" target="_blank">events</a></li>
                <li class="nav-list"><a href="https://adalab.es/" target="_blank">reasons</a></li>
                <li class="nav-list"><a href="https://adalab.es/" target="_blank">tips</a></li>
            </ul>
        </nav>
    </articles>
    <article class="footer-article">
        <nav>
            <ul class="nav">
                <li class="nav-list"><a href="https://adalab.es/" target="_blank">Twiter</a></li>
                <li class="nav-list"><a href="https://adalab.es/" target="_blank">Instagram</a></li>
                <li class="nav-list"><a href="https://adalab.es/" target="_blank">Mastodon.social</a></li>
            </ul>
        </nav>
    </article>
    <small class="footer-small">&copy;2021
        <p class="footer-small__we">we ❤︎ components</p>
    </small>

</footer>