<footer>
    <div>
        <img src="./assets/images/ico-arrow.svg">
    </div>
    <articles>
        <nav>
            <ul>
                <li><a href="adalab.es">articles</a></li>
                <li><a href="adalab.es">books</a></li>
                <li><a href="adalab.es">events</a></li>
                <li><a href="adalab.es">reasons</a></li>
                <li><a href="adalab.es">tips</a></li>
            </ul>
        </nav>
    </articles>
    <article>
        <nav>
            <ul>
                <li><a>Twiter</a></li>
                <li><a>Instagram</a></li>
                <li><a>Mastodon.social</a></li>
            </ul>
        </nav>
    </article>
    <small>&copy;2021
        <p>we components</p>
    </small>

</footer>